main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 200px;

}
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

h3 {
    text-decoration: underline;
    margin-right: 20px;
    color: #0580c2;
    font-size: 24px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

h3:hover {
    color: #034a73;
    transform: scale(1.05);
}

.banner {
    background-image: url('../Images/coding-924920_1920.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    color:white;
}

.banner:hover {
    background-color: rgba(5, 128, 194, 0.8);
    background-blend-mode: darken;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.job-title {
    font-style: italic;
}




