body {
 font-family: 'Avenir', sans-serif;
 margin: 30px;
 padding: 20px;
 border: 2px solid #000;
 background-color: #000000;
   color: #fefbfb;
}
.section1 {
 display: flex;
 flex-wrap: wrap;
 margin: 20px;


}


.box1, .box2 {
   flex:1;
}
.box1 {
   display:flex;
   align-items: center;
   gap:1rem;
   padding:1.5rem;
}
.box1-img {
 width: 180px;
 height: 200px;
 object-fit: cover;
 flex-shrink: 0;
}


.box1-text {
 flex: 1;
 padding-left: 20px;
}


.box3 {
   flex-basis: 100%;
}

